<h1>¡Bienvenido a la página de Project!</h1>
<div class="card">
<img src="<%= asset_path('project.jpg') %>" class="card-img-top" alt="Contacto">
  <div class="card-body">
    <h5 class="card-title">Proyecto 1</h5>
    <p class="card-text">Descripción del proyecto.</p>
    <a href="#" class="btn btn-primary">Ver más</a>
  </div>
</div>

